body{
    background: black;
}

.fullscreen-gif2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw; 
    height: 100vh; 
    object-fit: fill; 
    z-index: 1;
  }
  
  .page4button {
    position: fixed;
    top: 80%;
    left: 45%;
    width: 10vw; 
    height: 10vh; 
    object-fit: contain; 
    z-index: 2;
    }